$header-height: 44px;

*, *::before, *::after {
  box-sizing: border-box;
}

#App {
  min-height: 100vh;
  position: relative;
}

html, body {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.header {
  height: $header-height;
}

.drawer {
  background-color: #434343;
  height: calc(100vh - #{$header-height});
  position: absolute;
  top: $header-height;
  left: 0;
  width: 100vw;
  transform: translateX(-100%);
  
  &.opened {
    transform: translateX(0%);
  }
}

.events-list {
  list-style: none;
  padding-left: 0;
}

.events-list-item {
  border-radius: 5px;
  height: 64px;
  padding: 4px;
}

.home-page {
  .events-list-item {
    margin: 0 8px 12px 8px;
    box-shadow: 0 0 8px 0px rgba(0,0,0, 0.1);
  }
}

.bottom-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0  4px 12px 4px rgba(0, 0, 0, 0.2);

  > ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-basis: row;

    > li {
      flex: 1;
      text-align: center;
    }
  }
}