$header-height: 44px;

*, *::before, *::after {
  box-sizing: border-box;
}

#App {
  min-height: 100vh;
  position: relative;
}

html, body {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.header {
  height: $header-height;
}

.drawer {
  background-color: #434343;
  height: calc(100vh - #{$header-height});
  position: absolute;
  top: $header-height;
  left: 0;
  width: 100vw;
  transform: translateX(-100%);
  
  &.opened {
    transform: translateX(0%);
  }
}

.bottom-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  
  > ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-basis: row;

    > li {
      flex: 1;
      text-align: center;
    }
  }
}